@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.grid-container {
    display: grid;
    grid-template-columns: 800px 1fr;
    overflow: hidden;
    height: 100vh;
  }
  
  .left-container {
    width: 800px;
    padding: 20px;
    border-right: 1px solid gray;
  }
  
  .right-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
  }
  
  table {
    width: 100%;
    table-layout: fixed;
  }
  
  td {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 0;
  }